// 测试用的 iconfont，可生效
// @import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  --sar-sidebar-bg: var(--bg-primary);
  --sar-sidebar-item-active-bg: var(--bg-inverse);
  --sar-sidebar-item-active-color: var(--text-inverse);
}

.no-scrollbar {
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

.default-layout-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}